.navbar {
    color: white;
    background: rgba(70, 0, 0, 0.85);
    border-bottom: 2px solid white;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.name {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    padding-right: 10%;
}

.social {
    font-size: 24px;
    letter-spacing: 8px;
    text-align: center;
}

.social a {
    text-decoration: none !important;
    color: white;
}

@media (max-width: 767px) {
    .scrollable {
        overflow-x: auto;
    }
}

@media (min-width: 767px) {
    .scrollable {
        overflow-x: hidden;
    }

    .scrollable:hover {
        overflow-x: auto;
    }
}

.project {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    height: 245px;
    margin-bottom: 10px;
    padding-left: 95px;
}

.key {
    position: absolute;
    z-index: 5;
    top: -10px;
    left: 0px;
    width: 90px;
    height: 245px;
    margin-left: 0px;

    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 5px;
}

.key.film {
    background: rgba(70, 0, 70, 0.85);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.key.design {
    background: rgba(20, 20, 140, 0.85);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.key.engineering {
    background: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.key.photography {
    background: rgba(70, 0, 0, 0.85);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.key.extracurricular {
    background: rgba(70, 70, 70, 0.85);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.hovereffect:hover .film {
    background: rgba(70, 0, 70, 0.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.hovereffect:hover .design {
    background: rgba(20, 20, 140, 0.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.hovereffect:hover .engineering {
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.hovereffect:hover .photography {
    background: rgba(70, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.hovereffect:hover .extracurricular {
    background: rgba(70, 70, 70, 0.75);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
