.navbar {
    color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.name {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    padding-right: 10%;
}

.social {
    font-size: 24px;
    letter-spacing: 8px;
    text-align: center;
}

.social a {
    text-decoration: none !important;
    color: black;
}

.project {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: left;
}

.key {
    margin-top: 50px;
}

.key h2 {
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	background: rgb(20, 20, 20);
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.engineering h2 {
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
}

.photography h2 {
    border-top: 5px solid rgb(70, 0, 0);
    border-bottom: 5px solid rgb(70, 0, 0);
}

.film h2 {
    border-top: 5px solid rgb(70, 0, 70);
    border-bottom: 5px solid rgb(70, 0, 70);
}

.extracurricular h2 {
    border-top: 5px solid rgb(70, 70, 70);
    border-bottom: 5px solid rgb(70, 70, 70);
}

.hovereffect:hover .engineering {
    background: rgba(0, 0, 0, 0.75);
}

.hovereffect:hover .photography {
    background: rgba(70, 0, 0, 0.5);
}

.hovereffect:hover .film {
    background: rgba(70, 0, 70, 0.5);
}

.hovereffect:hover .extracurricular {
    background: rgba(70, 70, 70, 0.75);
}
